Source: libsml
Priority: extra
Maintainer: Steffen Vogel <info@steffenvogel.de>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Section: libs
Homepage: http://www.dai-labor.de
Vcs-Git: git://github.com/dailab/libsml.git
Vcs-Browser: https://github.com/dailab/libsml

Package: libsml-dev
Section: libdevel
Architecture: any
Depends: libsml1 (= ${binary:Version}), ${misc:Depends}, uuid-dev (>= 2.17)
Description: Header files for libSML
 Implementation in C of the Smart Messaging Language (SML) protocol

Package: libsml1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library for the Smart Message Language
 libSML is a library which implements the Smart Messaging Language (SML)
 protocol specified by VDE's Forum Netztechnik/Netzbetrieb (FNN).
 It can be utilized to communicate to FNN specified Smart Meters
 or Smart Meter components (EDL/MUC).
